* {
margin: 0;
padding: 0;
}

   body {
    width: 512px;
    margin: auto; 
    background-color: rgb(10, 10, 141);
   }

     #topimage {
    width: 512px;
   }
   
   /* main sentence */
   h1 {
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-right: 18%;
    margin-bottom: 5%;
    margin-left: 18%;
   }

   /* description */
   #firstparagraph {
    color: white;
    text-align: center;
    margin-right: 18%;
    margin-bottom: 5%;
    margin-left: 18%;
   }

   #upbuttom {
    width: 300px;
    height: 48px;
    border-radius: 2rem;
    border: 0;
    margin-left: 20%;
   }

   #downbuttom {
    width: 300px;
    height: 48px;
    border-radius: 2rem;
    border: 0;
    margin-left: 20%;
    margin-top: 1rem;
    background-color: rgba(81, 81, 235, 0.831);
    color: white;

   }
   
   /* cards */
   .card {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem;
    border-radius: 2rem;
    color: white;
    }

    /*first card icon*/
    #cube {
        width: 80px;
        position: relative;
        left: 2.5rem;
        top: -2.5rem;
    }

    /*second card icon*/
    #eyes {
        width: 80px;
        position: relative;
        left: 2.5rem;
        top: -2.5rem;
    }


    

   