* {
margin: 0;
padding: 0;
}

   body {
    width: 512px;
    margin: auto; 
    background-color: rgb(10, 10, 141);
   }

     #topimage {
    width: 512px;
   }
   
   /* main sentence */
   h1 {
    font-family: sigmar;
    line-height: 1;
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-right: 18%;
    margin-bottom: 5%;
    margin-left: 18%;
   }

   /* description */
   #firstparagraph {
    font-family: dm sans;
    color: white;
    text-align: center;
    margin-right: 18%;
    margin-bottom: 5%;
    margin-left: 18%;
   }
   
   /*first button*/
   #upbutton {
    font-family: dm sans;
    width: 300px;
    height: 48px;
    border-radius: 2rem;
    border: 0;
    margin-left: 21%;
   }

   /*second button*/
   #downbutton {
    font-family: dm sans;
    width: 300px;
    height: 48px;
    border-radius: 2rem;
    border: 0;
    margin-left: 21%;
    margin-top: 1rem;
    background-color: rgba(81, 81, 235, 0.831);
    color: white;

   }
   
   /* cards */
   .card {
    min-height: 650px;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem;
    border-radius: 2rem;
    color: white;
    }

    .cardtext {
        font-family: sigmar;
        font-size: 200%;
        line-height: 1;
        margin: 2rem;
        margin-bottom: 0rem;
        margin-top: 0;
        padding-right: 4rem;
        position: relative;
        top: -1.5rem;
    }
    
    /*card sentences*/
    .cardpara {
        font-family: dm sans;
        padding-right: 2rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }
    

    /*first card icon*/
    #cube {
        width: 80px;
        position: relative;
        left: 2.5rem;
        top: -2.5rem;

    }

    /*second card icon*/
    #eyes {
        width: 80px;
        position: relative;
        left: 2.5rem;
        top: -2.5rem;
    }

    /*card images*/
    .mainimg {
     width: 350px;
     position:relative;
     top: 1rem;
     right: 1rem;
     bottom: 1rem;
     left: 2rem;
     border-radius: 2rem;
    }


    

   